<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-admob-unityads"
  version="0.6.2">

  <name>AdMob Mediation Adapter for Unity Adsk</name>
  <description>AdMob Mediation Adapter for Unity Ads</description>
  <keywords>admob,mediation,facebook</keywords>
  <repo>https://github.com/floatinghotpot/cordova-admob-pro.git</repo>
  <issue>https://github.com/floatinghotpot/cordova-admob-pro/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.5" />
  </engines>

  <!-- dependency id="cordova-plugin-admobpro"/ -->

  <platform name="android">
    <framework src="unity-ads.gradle" custom="true" type="gradleReference" />
    <resource-file src="unity-ads.aar" target="libs/unity-ads.aar" />
   </platform>

   <platform name="ios">
     <framework src="UnityAds.framework" custom="true" />
     <framework src="UnityAdapter.framework" custom="true" />
  </platform>

</plugin>
