<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-admob-mobfox"
	version="6.0.3">
      
    <name>AdMob Mediation Adapter for MobFox</name>
	<description>AdMob Mediation Adapter for MobFox</description>
	<keywords>admob,mobfox,mediation</keywords>
    <repo>https://github.com/floatinghotpot/cordova-admob-pro.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-admob-pro/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.5" />
	</engines>

    <!-- dependency id="cordova-plugin-admobpro"/ -->
    <dependency id="cordova-plugin-mobfox"/>
    
    <!-- adapter is included in sdk -->
</plugin>
